/* Wireframing */

*:not(body):not(html) {
  box-sizing:border-box;
  /*border:1px dashed #000;*/
}

.col, .header{
  min-height: 200px;
}

.portfolio-item {
  /*background-color: #febaef;*/
  /*background-color: #cc0639;*/
}

/* End Wireframing */

/*Nav*/

.nav {
  overflow: auto;
  padding-top: 5px;
}

.title {
  float: left;
}

.navlinks {
  float: right;
  margin: 0;
  padding: 0;
}

.navlinks li {
  float: left;
  margin: -1px 0 0 10px;
  list-style: none;
}

h3 {
  margin: -4px 0 0 0;
  font-size: 1.1em;
  font-weight: normal;
}

/* Body*/

body {
  font-family: sans-serif;
  color: #242d33;
  /*color: #584d45;*/
  background-color: #fefcf7;
}

.container {
  width: 90%;
  margin: auto;
  padding: 2%;
}

.masthead {
  width: 100%;
  text-align: center;
}

#main-logo {
  margin: 10px auto;
}

h1 {
  margin: 0 0 9% 0;
  font-size: 3em;
  font-family: 'Sarina', sans-serif;
}

/* Gallery */

.portfolio-gallery {
  margin-top: 10px;
}

.portfolio-gallery::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 31.33%;
  margin: 0 1%;
}

.portfolio-item {
  width: 100%;
  margin-bottom: 23px;
  position: relative;
  background-color: #cc0639;
  /*background-image: url("../images/wov.png");*/
  opacity: .8;
}

.item-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #000;
  border-top: 3px solid #fff;
  color: #fff;
  opacity: .9;
  padding: 15px;
}

.portfolio-item:hover {
  display: table;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-item img {
  width: 70%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.portfolio-item p {
  margin: 0;
}

.vert-item {
  height: 400px;
}

.horiz-item {
  height: 250px;
}

/* Media Queries */

@media screen and (max-width: 976px) {
  .portfolio-item {
    opacity: 1;
  }
}

@media screen and (max-width: 976px) and (min-width: 541px) {
  .col {
    width: 48%;
  }

  .col3 {
    width: 100%;
    float: none;
    overflow: auto;
  }

  .col3 .vert-item {
    float: left;
    width: 48%;
    margin: 0 1% 0 0;
  }

  .col3 .horiz-item {
    float: left;
    width: 48%;
    margin: 0 0 0 1%;
  }
}

@media screen and (max-width:540px) {
  .col {
    float: none;
    width: 100%;
  }

  .title {
    display: none;
  }

  .navlinks {
    float: none;
    text-align: center;
  }

  .navlinks li {
    float: none;
    margin-left: 0;
    font-size: 1.5em;
  }
}
