/* Wireframing */

*:not(body):not(html) {
  box-sizing:border-box;
  /*border:1px dashed #000;*/
}

.col, .header{
  min-height: 200px;
}

.portfolio-item {
  background-color: #febaef;
}

/* End Wireframing */

/*Nav*/

.nav {
  overflow: auto;
}

.title {
  float: left;
}

.navlinks {
  float: right;
  margin: 0;
  padding: 0;
}

.navlinks li {
  float: left;
  margin: 0 0 0 10px;
  list-style: none;
}

h3 {
  margin: 0;
  font-weight: normal;
}

/* Body*/

.container {
  width: 90%;
  margin: auto;
  padding: 2%;
}

.masthead {
  width: 100%;
  text-align: center;
}

#main-logo {
  margin: 10px auto;
}

h1 {
  margin: 0 0 10% 0;
}

.portfolio-gallery {
  margin-top: 15px;
}

.portfolio-gallery::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 31.33%;
  margin: 0 1%;
}

.portfolio-item {
  width: 100%;
  margin-bottom: 23px;
}

.vert-item {
  height: 400px;
}

.horiz-item {
  height: 250px;
}

/* Media Queries */

@media screen and (max-width: 976px) and (min-width: 541px) {
  .col {
    width: 48%;
  }

  .col3 {
    width: 100%;
    float: none;
    overflow: auto;
  }

  .col3 .vert-item {
    float: left;
    width: 48%;
    margin: 0 1% 0 0;
  }

  .col3 .horiz-item {
    float: left;
    width: 48%;
    margin: 0 0 0 1%;
  }
}

@media screen and (max-width:540px) {
  .col {
    float: none;
    width: 100%;
  }
}
