/*@font-face {
  font-family: 'Vollkorn Regular';
  src: url('fonts/EOT/Vollkorn-Regular.eot') format('eot'), url('fonts/WOFF/Vollkorn-Regular.woff') format('woff'), url('fonts/TTF/Vollkorn-Regular.ttf') format('truetype');
}*/

@font-face {
font-family: 'Vollkorn Regular';
src: url('../fonts/EOT/Vollkorn-Regular.eot'); /* IE9 Compatibility Modes */
src: url('../fonts/EOT/Vollkorn-Regular.eot?') format('eot'),  /* IE6-IE8 */
url('../fonts/WOFF/vollkorn-regular-webfont.woff') format('woff'), /* Modern Browsers */
url('../fonts/TTF/Vollkorn-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
